.App {
  text-align: center;
  font-family: 'Gaegu', cursive;
}

.name {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.pic {
  display: flex;
  justify-content: flex-start;
}

.btn_profile {
  display: flex;
  justify-content: flex-start;
}

.setting {
  display: flex;
  justify-content: flex-start;
  border-style: solid;
  border-radius: 3em;
  border-color: #7b7aaf;
  background-color: #7b7aaf;
  margin: 0.5cm;
  width: 9rem;
  height: 3.5rem;
}

.setting_p {
  font-size: 1.5rem;
  color: white; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 0.5cm;
  margin-top: 0.25cm;
}

.icon_setting {
  margin-right: 0.1cm;
  margin-top: 0.1cm;
}

.home {
  display: flex;
  justify-content: flex-start;
  border-style: solid;
  border-radius: 3em;
  border-color: #b8bedd;
  background-color: #b8bedd;
  margin: 0.5cm;
  width: 9rem;
  height: 3.5rem;
}

.home_p {
  font-size: 1.5rem;
  color: white; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-left: 0.5cm;
  margin-top: 0.25cm;
}

.icon_home {
  margin-right: 0.1cm;
  margin-top: 0.1cm;
  margin-left: -0.25cm;
}

.reminder {
  font-size: 1.5rem;
  color: #7b7aaf;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-left: 1cm;
  margin-top: 0.5cm;
}
